$backgroundColorOld: #ECECEC;
$backgroundColorNew:rgb(237, 238, 242);
$background-image-tabDiv: linear-gradient(-52deg,rgb(0, 0, 0, .01), rgb(255, 255, 255, .01), rgb(235, 236, 240, 1.8), rgb(235, 236, 240, .8));
$background-image-rightColumnDiv: linear-gradient(-42deg,rgb(0, 0, 0, .02   ), rgb(255, 255, 255, 0.07));
$fontPoppins: "Poppins", sans-serif;
$textColorDarkGrey: #282a30;
$textColorDarkGrey2: #5B5B5B;
$textColorLightGrey: #464A53;
