body {
  font-family: "Poppins", sans-serif;
}

.wrapper.index {
  background-color: #edeef2;
  display: flex;
  margin-top: 2%;
  margin-left: 1%;
  margin-right: 1%;
  z-index: 1;
}

.tabDivAboutMe {
  background: #edeef2;
  width: 204px;
  height: 48px;
  position: absolute;
  z-index: 2;
  top: -13px;
  left: 45px;
  border-radius: 10px 0 0 10px;
  background: #EBECF0;
  box-shadow: -16px -10px 16px 0 #FAFBFF, -9px 6px 9px 0 #A6ABBD;
}

.rightColumnDiv.aboutMe {
  display: flex;
  flex-grow: 2;
  width: 70%;
  min-height: 630px;
  margin-left: 248px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 20px;
  background-color: #edeef2;
  box-shadow: -10px -10px 20px 0 #FAFBFF, 10px 10px 20px 0 #A6ABBD;
}

.copyContainer {
  display: block;
  margin-left: 30px;
}

.h1Text {
  margin-top: 0px;
  font-family: "Poppins", sans-serif;
  font-size: 31pt;
  font-weight: 400;
  background-image: linear-gradient(249deg, #37DBE0 60%, #1758F1 98%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.paragraph1 {
  margin-top: 0px;
  font-family: "Poppins", sans-serif;
  font-size: 16pt;
  font-weight: 300;
}

.paragraph2 {
  font-family: "Poppins", sans-serif;
  font-size: 15pt;
  font-weight: 300;
}

.paragraph3 {
  font-family: "Poppins", sans-serif;
  font-size: 15pt;
  font-weight: 300;
}

.imagesContainer {
  margin-top: 30px;
  margin-right: 20px;
}

.codeImageContainer {
  width: fit-content;
  height: 350px;
}

.codeImage {
  width: auto;
  height: 100%;
  opacity: 70%;
}

.tabletImageContainer {
  max-width: 370px;
  height: auto;
  margin-top: 30px;
  padding-left: 30px;
}

.tabletImage {
  width: 100%;
  height: auto;
}

.profilePhotoMainContentContainer {
  width: 120px;
  height: auto;
  position: absolute;
  right: 170px;
  top: 94px;
}

.profilePhotoMainContent {
  border-radius: 1000px;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 10px -1px rgba(14, 31, 53, 0.06), 0 10px 20px -2px rgba(14, 31, 53, 0.1), 0 16px 32px -3px rgba(14, 31, 53, 0.12), 0 32px 64px -4px rgba(14, 31, 53, 0.14), 0 40px 72px -5px rgba(14, 31, 53, 0.24);
}

@media (max-width: 1230px) {
  .tabletImageContainer {
    max-width: 370px;
    height: auto;
    margin-top: 60px;
    padding-left: 30px;
  }
}
@media (max-width: 1175px) {
  .tabletImageContainer {
    max-width: 370px;
    height: auto;
    margin-top: 100px;
    padding-left: 30px;
  }
}
@media (max-width: 1169px) {
  .tabletImageContainer {
    max-width: 370px;
    height: auto;
    margin-top: 150px;
    padding-left: 30px;
  }
}
@media (max-width: 1116px) {
  .tabletImageContainer {
    max-width: 370px;
    height: auto;
    margin-top: 180px;
    padding-left: 30px;
  }

  .codeImageContainer {
    margin-top: 20px;
    width: fit-content;
    height: 320px;
  }
}
@media (max-width: 1059px) {
  .profilePhotoMainContentContainer {
    width: 100px;
    height: auto;
    position: absolute;
    right: 60px;
    top: 50px;
  }

  .copyContainer {
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .tabletImageContainer {
    display: none;
  }

  .codeImageContainer {
    display: none;
  }
}
@media (max-width: 855px) {
  .rightColumnDiv.aboutMe {
    width: 100%;
    min-height: 630px;
    margin-left: 0px;
  }
}
.leftColumnContainer {
  display: block;
  position: fixed;
}

.personalDetailsDiv {
  display: flex;
  align-items: flex-start;
}

.profilePicSmallContainer {
  width: 60px;
  height: auto;
}

.profilePicSmall {
  border-radius: 1000px;
  width: 100%;
  height: auto;
}

.fullNameProfessionDiv {
  margin-left: 10px;
  padding-top: 3px;
}

.fullName {
  margin-block-start: 0.5em;
  margin-block-end: 0.4em;
  letter-spacing: 1px;
  color: #282a30;
  font-size: 13pt;
  line-height: 12px;
}

.profession {
  margin-block-start: 0em;
  margin-block-end: 0em;
  letter-spacing: 1.1px;
  color: #464A53;
  font-size: 10pt;
  line-height: 16px;
}

.personalDetailsDivMobile {
  display: none;
}

.menuContainer {
  display: block;
  position: relative;
  z-index: 1;
  background: none;
  background-color: transparent;
}

.aboutMeDiv, .projectListDiv, .educationDiv, .ambitionDiv, .interestsDiv, .linksListDiv {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 45px;
  margin-left: 70px;
  background: none;
  background-color: transparent;
}

.interestsDiv {
  margin-left: 66px;
  background-color: transparent;
}

.aboutMeIcon, .projectListIcon, .educationIcon, .ambitionIcon, .interestsIcon, .linksListIcon {
  color: #282a30;
  width: 18px;
  height: 18px;
  position: relative;
  padding-bottom: 3px;
  margin-right: 15px;
  z-index: 3;
}

.educationIcon {
  padding-bottom: 0px;
  width: 20px;
  height: 20px;
}

.ambitionIcon {
  width: 20px;
  height: 23px;
  padding-bottom: 10px;
}

.interestsIcon {
  width: 20px;
  height: auto;
  margin-bottom: -1px;
  margin-left: 5px;
}

.linksListIcon {
  width: 22px;
  height: 22px;
  padding-bottom: 1px;
}

.menuOption {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  color: #282a30;
  font-size: 12.5pt;
  letter-spacing: 0.1em;
  font-weight: 300;
  z-index: 3;
}

.menuOption.inactive {
  font-weight: 500;
  cursor: default;
}

.menuOption.active:hover {
  font-weight: 500;
  cursor: pointer;
}

.LinkedinGitHubEmailDiv {
  margin-top: 70px;
  margin-left: 71px;
  padding-bottom: 50px;
  display: flex;
  justify-content: stretch;
  gap: 32px;
}

.linkedinIcon, .GithubIcon, .EmailIcon {
  width: 16px;
  height: 16px;
}

.EmailIcon {
  margin-right: 0px;
}

.linkedinIcon:hover, .GithubIcon:hover, .EmailIcon:hover {
  width: 18px;
  height: 18px;
}

a {
  text-decoration: none;
}

@media (max-width: 855px) {
  .leftColumnContainer {
    display: none;
  }

  .personalDetailsDivMobile {
    display: block;
    position: absolute;
    top: 30px;
    left: 50px;
    display: flex;
    align-items: flex-start;
  }

  .profilePicSmallContainerMobile {
    width: 60px;
    height: auto;
  }

  .profilePicSmallMobile {
    border-radius: 1000px;
    width: 100%;
    height: auto;
  }

  .fullNameProfessionDivMobile {
    margin-left: 10px;
    padding-top: 3px;
  }

  .fullNameMobile {
    margin-block-start: 0.5em;
    margin-block-end: 0.4em;
    letter-spacing: 1px;
    color: #282a30;
    font-size: 13pt;
    line-height: 12px;
  }

  .professionMobile {
    margin-block-start: 0em;
    margin-block-end: 0em;
    letter-spacing: 1.1px;
    color: #464A53;
    font-size: 10pt;
    line-height: 16px;
  }
}
body {
  background-color: #edeef2;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  background-color: #edeef2;
  display: flex;
  margin-top: 2%;
  margin-left: 1%;
  margin-right: 1%;
  z-index: 1;
}

.tabDivProjectList {
  background-color: #edeef2;
  width: 209px;
  height: 48px;
  position: absolute;
  z-index: 2;
  top: 58px;
  left: 45px;
  border-radius: 10px 0 0 10px;
  box-shadow: -10px 0px 35px 0 #FAFBFF, -15px 5px 20px 0 #A6ABBD;
}

.rightColumnDiv.projectList {
  display: block;
  flex-grow: 2;
  width: 70%;
  margin-left: 248px;
  padding-bottom: 20px;
  padding-left: 30px;
  border-radius: 20px;
  box-shadow: -10px -10px 20px 0 #FAFBFF, 10px 10px 20px 0 #A6ABBD;
}

.projectListHeader {
  width: auto;
  height: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 10px;
}

.projectListH1Text {
  width: fit-content;
  height: auto;
  font-family: "Poppins", sans-serif;
  font-size: 15pt;
  font-weight: 500;
  letter-spacing: 4px;
  margin-left: 0px;
  background-image: linear-gradient(239deg, #37DBE0 10%, #1758F1 73%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.twitterProject, .eventProject {
  max-width: fit-content;
  min-height: auto;
  background: #EBECF0;
  border: 2px solid #FFFFFF;
  box-shadow: 10px -10px 20px 0 #FAFBFF, 10px 10px 20px 0 #A6ABBD;
  border-radius: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.twitterProjectContents {
  display: flex;
  align-items: flex-end;
}

.paragrapsContainer {
  margin-top: 0px;
  max-width: 500px;
}

.h2ProjectTypeTwitter, .h2ProjectTypeEvent {
  font-family: "Poppins", sans-serif;
  font-size: 12pt;
  font-weight: 500;
  letter-spacing: 2px;
  margin-top: 20px;
  margin-block-end: 0em;
  background-image: linear-gradient(239deg, #37DBE0 80%, #1758F1 98%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.h2projectHeaderTwitter, .h2projectHeaderEvent {
  font-family: "Poppins", sans-serif;
  font-size: 11pt;
  color: #333232;
  font-weight: 500;
  letter-spacing: 0;
  margin-top: 15px;
  margin-bottom: 5px;
}

.paragraphTwitterProject, .paragraphEventProject {
  font-family: "Poppins", sans-serif;
  font-size: 10pt;
  color: #333232;
  font-weight: 400;
  letter-spacing: 0.62px;
  font-style: italic;
  z-index: 50;
  position: relative;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.paragraphTwitterProject {
  margin-bottom: 10px;
}

.twitterHassanImageDiv {
  width: 300px;
  height: auto;
  border-radius: 20px;
}

.twitterHassanImageDiv img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 20px 44px -6px rgba(14, 31, 53, 0.36);
}

.twitterProjectToolsContainer {
  margin-top: 24px;
  margin-bottom: 0px;
}

.twitterProjectToolsHeader, .twitterProjectLinksHeader, .eventProjectToolsHeader {
  font-family: "Poppins", sans-serif;
  font-size: 11pt;
  color: #333232;
  font-weight: 500;
  letter-spacing: 0;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.twitterProjectToolsDiv, .eventProjectToolsDiv {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-right: 20px;
  max-width: auto;
}

.toolName {
  font-weight: 500;
  font-size: 12pt;
  background-image: linear-gradient(239deg, #37DBE0 10%, #1758F1 73%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  max-width: 100%;
  margin-block-start: 0em;
  margin-right: 20px;
}

.toolName.css {
  margin-right: 0px;
}

.linksContainer {
  margin-top: 30px;
}

.linkName.left {
  letter-spacing: 0px;
  margin-right: 30px;
}

.linkName.right {
  letter-spacing: 0px;
  font-size: 10pt;
}

.linkName:hover {
  background-image: linear-gradient(239deg, #37DBE0 10%, #1758F1 73%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.rightImagesContainer {
  margin-left: 50px;
  margin-top: 20px;
  position: relative;
}

.desktopImageContainer {
  width: 450px;
  height: auto;
}

.desktopImageContainer img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 40px 64px -6px rgba(14, 31, 53, 0.36);
}

.mobileImageContainer {
  width: 128px;
  height: auto;
  position: absolute;
  bottom: 269px;
  left: -50px;
}

.mobileImageContainer img {
  width: 100%;
  height: auto;
  position: absolute;
}

@media (max-width: 1300px) {
  .twitterProject {
    border-radius: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 10px;
    margin-right: 20px;
  }
}
@media (max-width: 1200px) {
  .twitterProjectContents {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    align-content: space-between;
  }
}
@media (max-width: 855px) {
  .rightColumnDiv.projectList {
    width: 100%;
    min-height: 630px;
    margin-left: 0px;
    padding-left: 20px;
  }
}
body {
  background-color: #edeef2;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  background-color: #edeef2;
  display: flex;
  margin-top: 2%;
  margin-left: 1%;
  margin-right: 1%;
  z-index: 1;
}

.tabDivEducation {
  background: #edeef2;
  width: 204px;
  height: 48px;
  position: absolute;
  z-index: 2;
  top: 127px;
  left: 45px;
  border-radius: 10px 0 0 10px;
  box-shadow: -10px 0px 35px 0 #FAFBFF, -15px 5px 20px 0 #A6ABBD;
}

.rightColumnDiv.education {
  display: block;
  flex-grow: 2;
  width: 70%;
  margin-left: 248px;
  padding-left: 10px;
  padding-bottom: 20px;
  border-radius: 20px;
  box-shadow: -10px -10px 20px 0 #FAFBFF, 10px 10px 20px 0 #A6ABBD;
}

.educationRectangle {
  width: 150px;
  height: auto;
  margin-top: 30px;
  margin-left: 20px;
}

.educationH1Text {
  width: auto;
  height: auto;
  font-family: "Poppins", sans-serif;
  font-size: 15pt;
  font-weight: 500;
  letter-spacing: 4px;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 5px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  background-image: linear-gradient(239deg, #37DBE0 10%, #1758F1 73%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.nackademinContainer {
  width: fit-content;
  margin-top: 20px;
  margin-left: 28px;
}

.nackademinImageDiv {
  width: 300px;
}

.nackademinImage {
  width: 100%;
  height: auto;
}

.stockholmSwedenP {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Poppins", sans-serif;
  color: #6D7587;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 11pt;
}

.webDevP {
  margin-top: 0px;
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(239deg, #37DBE0 10%, #1758F1 73%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  width: fit-content;
}

.yearDiv {
  margin-top: 35px;
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
}

.yearDiv.two, .yearDiv.three {
  margin-top: 25px;
  margin-left: 27px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
}

.yearDiv.three {
  margin-bottom: 25px;
}

.year {
  margin-right: 20px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(239deg, #37DBE0 10%, #1758F1 60%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 35px;
  letter-spacing: 1px;
  font-weight: 500;
}

.year.two {
  margin-right: 20px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(239deg, #37DBE0 10%, #1758F1 60%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 35px;
  letter-spacing: 1px;
  font-weight: 500;
}

.yearThree {
  margin-right: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-family: "Poppins", sans-serif;
  color: #6D7587;
  font-size: 35px;
  letter-spacing: 1px;
  font-weight: 500;
}

.buttonsContainer {
  display: flex;
  gap: 20px 50px;
  flex-wrap: wrap;
}

.buttonsContainer.three {
  display: flex;
  gap: 20px 23px;
  flex-wrap: wrap;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  background-color: #edeef2;
  border-radius: 10px 0 0 10px;
  box-shadow: -10px -10px 20px 0 #FAFBFF, 10px 10px 20px 0 #A6ABBD;
  border-radius: 20px;
  width: 90px;
  height: 81px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonJsLogo {
  background-image: linear-gradient(239deg, #37DBE0 10%, #1758F1 73%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  width: 42px;
  height: 42px;
}

.buttonReactLogo {
  background-image: linear-gradient(239deg, #37DBE0 10%, #1758F1 73%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  width: 42px;
  height: 50px;
}

.buttonPHPLogo, .buttonALMLogo, .masterThesisLogo {
  width: 42px;
  height: auto;
}

.buttonFrontend2 {
  background-color: #edeef2;
  border-radius: 10px 0 0 10px;
  box-shadow: -10px -10px 20px 0 #FAFBFF, 10px 10px 20px 0 #A6ABBD;
  border-radius: 20px;
  width: 90px;
  height: 81px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttonTech {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(239deg, #37DBE0 10%, #1758F1 73%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 500;
}

.buttonTechFrontendTwo {
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(239deg, #37DBE0 10%, #1758F1 73%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 500;
}

.buttonTechUnfinished {
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 500;
  color: #6D7587;
}

.buttonTechUnfinishedLIA {
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 300;
  color: #6D7587;
}

.course {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(239deg, #37DBE0 10%, #1758F1 73%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 13px;
  letter-spacing: 2px;
  margin-top: 12px;
}

.courseUnfinished {
  font-family: "Poppins", sans-serif;
  color: #6D7587;
  font-size: 13px;
  letter-spacing: 2px;
  margin-top: 12px;
}

.courseUnfinished.apprenticeship {
  font-size: 13px;
}

@media (max-width: 855px) {
  .rightColumnDiv.education {
    width: 100%;
    min-height: 630px;
    margin-left: 0px;
  }
}
body {
  background-color: #edeef2;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  background-color: #edeef2;
  display: flex;
  margin-top: 2%;
  margin-left: 1%;
  margin-right: 1%;
  z-index: 1;
}

.tabDivAmbitions {
  background: #edeef2;
  width: 204px;
  height: 48px;
  position: absolute;
  z-index: 2;
  top: 202px;
  left: 45px;
  border-radius: 10px 0 0 10px;
  box-shadow: -10px 0px 35px 0 #FAFBFF, -15px 5px 20px 0 #A6ABBD;
}

.rightColumnDiv.ambitions {
  display: block;
  flex-grow: 2;
  min-width: 70%;
  min-height: 660px;
  margin-left: 248px;
  padding-left: 10px;
  padding-bottom: 20px;
  border-radius: 20px;
  box-shadow: -10px -10px 20px 0 #FAFBFF, 10px 10px 20px 0 #A6ABBD;
}

.ambitionsRectangle {
  width: 150px;
  height: auto;
  margin-top: 30px;
  margin-left: 20px;
}

.ambitionsH1Text {
  width: fit-content;
  height: auto;
  font-family: "Poppins", sans-serif;
  font-size: 15pt;
  font-weight: 500;
  letter-spacing: 4px;
  padding-top: 0px;
  padding-bottom: 5px;
  margin-left: 20px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  background-image: linear-gradient(239deg, #37DBE0 10%, #1758F1 73%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.allGoalsContainer {
  display: flex;
  flex-wrap: wrap;
}

.goalsCard {
  margin-top: 40px;
  margin-left: 30px;
  max-width: 450px;
  min-height: fit-content;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 5px;
  background: #EBECF0;
  border: 2px solid #FFFFFF;
  box-shadow: 10px -10px 20px 0 #FAFBFF, 10px 10px 20px 0 #A6ABBD;
  border-radius: 30px;
}

.goalsP {
  background-image: linear-gradient(239deg, #37DBE0 62%, #1758F1 83%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-family: "Poppins", sans-serif;
  font-size: 11pt;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 0px;
}

.goalsTextP {
  font-family: "Poppins", sans-serif;
  font-size: 10pt;
  font-weight: 300;
  letter-spacing: 1px;
  margin-top: 5px;
}

.goalsTextP.spanForP {
  font-weight: 500;
}

@media (max-width: 855px) {
  .rightColumnDiv.ambitions {
    width: 100%;
    min-height: 630px;
    margin-left: 0px;
  }

  .goalsCard {
    max-width: 650px;
  }
}
body {
  background-color: #edeef2;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  background-color: #edeef2;
  display: flex;
  margin-top: 2%;
  margin-left: 1%;
  margin-right: 1%;
  z-index: 1;
}

.tabDivInterests {
  background: #edeef2;
  width: 204px;
  height: 48px;
  position: absolute;
  z-index: 2;
  top: 276px;
  left: 45px;
  border-radius: 10px 0 0 10px;
  box-shadow: -10px 0px 35px 0 #FAFBFF, -15px 5px 20px 0 #A6ABBD;
}

.rightColumnDiv.interests {
  display: block;
  flex-grow: 2;
  width: 70%;
  min-height: 660px;
  margin-left: 248px;
  padding-left: 10px;
  padding-bottom: 20px;
  border-radius: 20px;
  box-shadow: -10px -10px 20px 0 #FAFBFF, 10px 10px 20px 0 #A6ABBD;
}

.interestsRectangle {
  width: 150px;
  height: auto;
  margin-top: 30px;
  margin-left: 20px;
}

.interestsH1Text {
  width: fit-content;
  height: auto;
  font-family: "Poppins", sans-serif;
  font-size: 15pt;
  font-weight: 500;
  letter-spacing: 4px;
  padding-top: 0px;
  padding-bottom: 5px;
  margin-left: 20px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  background-image: linear-gradient(239deg, #37DBE0 10%, #1758F1 73%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.allInterestsContainer {
  display: flex;
  flex-wrap: wrap;
}

.interestsCard {
  margin-top: 40px;
  margin-left: 30px;
  max-width: 450px;
  min-height: fit-content;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 5px;
  background: #EBECF0;
  border: 2px solid #FFFFFF;
  box-shadow: 10px -10px 20px 0 #FAFBFF, 10px 10px 20px 0 #A6ABBD;
  border-radius: 30px;
}

.interestP {
  background-image: linear-gradient(220deg, #37DBE0 80%, #1758F1 98%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-family: "Poppins", sans-serif;
  font-size: 11pt;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 0px;
}

.interestTextP {
  font-family: "Poppins", sans-serif;
  font-size: 10pt;
  font-weight: 300;
  letter-spacing: 1px;
  margin-top: 5px;
}

.interestTextP.spanForP {
  font-weight: 500;
}

@media (max-width: 855px) {
  .rightColumnDiv.interests {
    width: 100%;
    min-height: 630px;
    margin-left: 0px;
  }

  .interestsCard {
    max-width: 650px;
  }
}
body {
  background-color: #edeef2;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  background-color: #edeef2;
  display: flex;
  margin-top: 2%;
  margin-left: 1%;
  margin-right: 1%;
  z-index: 1;
}

.tabDivLinks {
  background: #edeef2;
  width: 204px;
  height: 48px;
  position: absolute;
  z-index: 2;
  top: 345px;
  left: 45px;
  border-radius: 10px 0 0 10px;
  box-shadow: -10px 0px 35px 0 #FAFBFF, -15px 5px 20px 0 #A6ABBD;
}

.rightColumnDiv.links {
  display: block;
  flex-grow: 2;
  width: 70%;
  min-height: 660px;
  margin-left: 248px;
  padding-left: 10px;
  padding-bottom: 20px;
  border-radius: 20px;
  box-shadow: -10px -10px 20px 0 #FAFBFF, 10px 10px 20px 0 #A6ABBD;
}

.linksRectangle {
  width: auto;
  height: auto;
  margin-top: 30px;
  margin-left: 10px;
}

.linksH1Text {
  width: fit-content;
  height: auto;
  font-family: "Poppins", sans-serif;
  font-size: 15pt;
  font-weight: 500;
  letter-spacing: 4px;
  padding-top: 0px;
  padding-bottom: 5px;
  margin-left: 25px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  background-image: linear-gradient(239deg, #37DBE0 10%, #1758F1 73%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.linksButtonsContainer {
  margin-top: 35px;
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 50px;
}

.aLinkButton {
  cursor: pointer;
}

.aLinkButton.active:hover {
  background-image: linear-gradient(239deg, #37DBE0 10%, #1758F1 73%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.aLinkButton.inactive {
  cursor: default;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  background-color: #edeef2;
  border-radius: 10px 0 0 10px;
  box-shadow: -10px -10px 20px 0 #FAFBFF, 10px 10px 20px 0 #A6ABBD;
  border-radius: 20px;
  width: 90px;
  height: 81px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resumeLogo {
  width: 33px;
  height: auto;
}

.githubButtonLogo, .linkedinButtonLogo {
  width: 40px;
  height: auto;
}

.emailButtonLogo {
  width: 40px;
  height: auto;
}

.linkName {
  font-family: "Poppins", sans-serif;
  color: #6D7587;
  font-size: 13px;
  letter-spacing: 2px;
  margin-top: 12px;
}

@media (max-width: 855px) {
  .rightColumnDiv.links {
    width: 100%;
    min-height: 630px;
    margin-left: 0px;
  }
}

/*# sourceMappingURL=combined.css.map */
