@use "variables.scss";

body {
    background-color: variables.$backgroundColorNew;
    font-family: variables.$fontPoppins;
}

.wrapper {
    background-color: variables.$backgroundColorNew;
    display: flex;
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
    z-index: 1;
}


.tabDivEducation {
    background: variables.$backgroundColorNew;
    width: 204px;
    height: 48px;
    position: absolute;
    z-index: 2;
    top: 127px;
    left: 45px;
    border-radius: 10px 0 0 10px;
    box-shadow: -10px 0px 35px 0 #FAFBFF, -15px 5px 20px 0 #A6ABBD;
}

// @keyframes tabDiv {
//     0% {
//         box-shadow: none;
//         opacity: 0%;
//     }
//     100% {
//         box-shadow: -10px 3px 10px 0 rgba(14,31,53,0.06),
//                 -10px 3px 10px 0 rgba(14,31,53,0.12), 
//                 -10px 5px 14px -100px rgba(14,31,53,0.12), 
//                 -10px 5px 38px -20px rgba(14,31,53,0.06);
        
//         opacity: 100%;
//     }
// }


//Right Column
.rightColumnDiv.education {
    display: block;
    flex-grow: 2;
    width: 70%;
    margin-left: 248px;
    padding-left: 10px;
    // padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 20px;
    box-shadow: -10px -10px 20px 0 #FAFBFF, 10px 10px 20px 0 #A6ABBD;
}
    .educationRectangle {
        width: 150px;
        height: auto;
        margin-top: 30px;
        margin-left: 20px;

        // background-image: linear-gradient(-42deg, #000000 0%, #FFFFFF 100%);
        // border: 1px solid rgba(255,255,255,0.40);
        // background: #EBECF0;
        // box-shadow: inset -5px -5px 10px 0 #FAFBFF, inset 3px 3px 7px 0 #A6ABBD;
        // border-radius: 47px;
    }
        .educationH1Text {
            width: auto;
            height: auto;
            font-family: variables.$fontPoppins;
            font-size: 15pt;
            font-weight: 500;
            letter-spacing: 4px;
            text-align: center;
            padding-top: 0px;
            padding-bottom: 5px;
            margin-block-start: 0em;
            margin-block-end: 0em;
            background-image: linear-gradient(239deg, #37DBE0 10%, #1758F1 73%);
            background-size: 100%;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent; 
            -moz-text-fill-color: transparent;
        }
    
    .nackademinContainer {
        // display: flex;
        // flex-wrap: wrap;
        width: fit-content;
        margin-top: 20px;
        margin-left: 28px;
    }
        .nackademinImageDiv {
            
            width: 300px;
        }
            .nackademinImage {
                width: 100%;
                height: auto;
                // filter:#6D7587;
                // filter: invert(50%) sepia(16%) saturate(437%) hue-rotate(184deg) brightness(87%) contrast(82%);
                
            }
            .stockholmSwedenP {
                margin-top: 0px;
                margin-bottom: 0px;
                font-family: variables.$fontPoppins;
                color: #6D7587;
                text-transform: uppercase;
                letter-spacing: 4px;
                font-size: 11pt;
            }
            .webDevP {
                margin-top: 0px;
                font-family: variables.$fontPoppins;
                background-image: linear-gradient(239deg, #37DBE0 10%, #1758F1 73%);
                background-size: 100%;
                -webkit-background-clip: text;
                -moz-background-clip: text;
                -webkit-text-fill-color: transparent; 
                -moz-text-fill-color: transparent;
                width: fit-content;
            }
    
    .yearDiv {
        margin-top: 35px;
        margin-left: 30px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px 20px;
    }
    .yearDiv.two, .yearDiv.three {
        margin-top: 25px;
        margin-left: 27px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px 20px;
    }
    .yearDiv.three {
        margin-bottom: 25px;
    }
        .year{
            margin-right: 20px;
            margin-block-start: 0px;
            margin-block-end: 0px;
            font-family: variables.$fontPoppins;
            background-image: linear-gradient(239deg, #37DBE0 10%, #1758F1 60%);
            background-size: 100%;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent; 
            -moz-text-fill-color: transparent;
            font-size: 35px;
            letter-spacing: 1px;
            font-weight: 500;
        }
        .year.two{
            margin-right: 20px;
            margin-block-start: 0px;
            margin-block-end: 0px;
            font-family: variables.$fontPoppins;
            background-image: linear-gradient(239deg, #37DBE0 10%, #1758F1 60%);
            background-size: 100%;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent; 
            -moz-text-fill-color: transparent;
            font-size: 35px;
            letter-spacing: 1px;
            font-weight: 500;
        }
        .yearThree{
            margin-right: 0px;
            margin-block-start: 0px;
            margin-block-end: 0px;
            font-family: variables.$fontPoppins;
            color: #6D7587;
            font-size: 35px;
            letter-spacing: 1px;
            font-weight: 500;
        }
        .buttonsContainer {
            display: flex;
            gap: 20px 50px;
            flex-wrap: wrap;
        }
        .buttonsContainer.three {
            display: flex;
            gap: 20px 23px;
            flex-wrap: wrap;
        }
            .buttonContainer {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
                .button{
                    // background: #EBECF0;
                    background-color: variables.$backgroundColorNew;
                    // background-image: linear-gradient(-42deg, #000000 0%, #FFFFFF 100%);
                    
                    border-radius: 10px 0 0 10px;
                    // box-shadow: -10px 0px 35px 0 #FAFBFF, -15px 5px 20px 0 #A6ABBD;

                    box-shadow: -10px -10px 20px 0 #FAFBFF, 10px 10px 20px 0 #A6ABBD;

                    border-radius: 20px;
                    width: 90px;
                    height: 81px;
                    // position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .buttonJsLogo {
                    background-image: linear-gradient(239deg, #37DBE0 10%, #1758F1 73%);
                    background-size: 100%;
                    -webkit-background-clip: text;
                    -moz-background-clip: text;
                    -webkit-text-fill-color: transparent; 
                    -moz-text-fill-color: transparent;
                    width: 42px;
                    height: 42px;
                }
                .buttonReactLogo {
                    background-image: linear-gradient(239deg, #37DBE0 10%, #1758F1 73%);
                    background-size: 100%;
                    -webkit-background-clip: text;
                    -moz-background-clip: text;
                    -webkit-text-fill-color: transparent; 
                    -moz-text-fill-color: transparent;
                    width: 42px;
                    height: 50px;
                }
                .buttonPHPLogo, .buttonALMLogo, .masterThesisLogo {
                    width: 42px;
                    height: auto;
                }
                
                .buttonFrontend2 {
                    background-color: variables.$backgroundColorNew;
                    border-radius: 10px 0 0 10px;
                    box-shadow: -10px -10px 20px 0 #FAFBFF, 10px 10px 20px 0 #A6ABBD;
                    border-radius: 20px;
                    width: 90px;
                    height: 81px;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                }
                    .buttonTech {
                        font-family: variables.$fontPoppins;
                        background-image: linear-gradient(239deg, #37DBE0 10%, #1758F1 73%);
                        background-size: 100%;
                        -webkit-background-clip: text;
                        -moz-background-clip: text;
                        -webkit-text-fill-color: transparent; 
                        -moz-text-fill-color: transparent;

                        font-size: 14px;
                        letter-spacing: 1px;
                        font-weight: 500;
                    }
                    .buttonTechFrontendTwo {
                        margin-block-start: 0px;
                        margin-block-end: 0px;
                        font-family: variables.$fontPoppins;
                        background-image: linear-gradient(239deg, #37DBE0 10%, #1758F1 73%);
                        background-size: 100%;
                        -webkit-background-clip: text;
                        -moz-background-clip: text;
                        -webkit-text-fill-color: transparent; 
                        -moz-text-fill-color: transparent;
                        font-size: 12px;
                        letter-spacing: 1px;
                        font-weight: 500;
                        
                    }
                    .buttonTechUnfinished{
                        margin-block-start: 0px;
                        margin-block-end: 0px;
                        font-family: variables.$fontPoppins;
                        font-size: 12px;
                        letter-spacing: 1px;
                        font-weight: 500;
                        color: #6D7587;
                    }
                    .buttonTechUnfinishedLIA {
                        margin-block-start: 0px;
                        margin-block-end: 0px;
                        font-family: variables.$fontPoppins;
                        font-size: 20px;
                        letter-spacing: 3px;
                        font-weight: 300;
                        color: #6D7587;
                    }
                .course {
                    font-family: variables.$fontPoppins;
                    background-image: linear-gradient(239deg, #37DBE0 10%, #1758F1 73%);
                    background-size: 100%;
                    -webkit-background-clip: text;
                    -moz-background-clip: text;
                    -webkit-text-fill-color: transparent; 
                    -moz-text-fill-color: transparent;
                    font-size: 13px;
                    letter-spacing: 2px;
                    margin-top: 12px;
                }
                .courseUnfinished {
                    font-family: variables.$fontPoppins;
                    color: #6D7587;
                    font-size: 13px;
                    letter-spacing: 2px;
                    margin-top: 12px;
                }
                .courseUnfinished.apprenticeship {
                    font-size: 13px;
                }


    
    // New Menu Resolutions
    @media (max-width: 855px){
        
        .rightColumnDiv.education{
            width: 100%;
            min-height: 630px;
            margin-left: 0px;
            padding-top: 20px;
            padding-right: 10px;
            padding-left: 0px;
            // padding-bottom: 20px;
        }
        
        .topMenuContainer {
            display: block;
        }

        
        .personalDetailsDivTablet {
            display: flex;
            align-items: flex-start;
            margin-left: 10px;
            
        }
            .profilePicSmallContainerTablet {
                        width: 60px;
                        height: auto;
            }
            .profilePicSmallTablet {
                    border-radius: 1000px;
                    width: 100%;
                    height: auto;
            }
        .fullNameProfessionDivTablet {
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 10px;
            padding-top:0px;
        }
            .fullNameTablet {
                margin-block-start: 0.5em;
                margin-block-end: 0.4em;
                letter-spacing: 1px;
                color: variables.$textColorDarkGrey;
                font-size: 13pt;
                line-height: 12px;
            }
            .professionTablet {
                margin-block-start: 0em;
                margin-block-end: 0em;
                letter-spacing: 1.1px;
                color: variables.$textColorLightGrey;
                font-size: 10pt;
                line-height: 16px;
            }
            
            .LinkedinGitHubEmailDivTablet {
                margin-top: 15px;
                margin-left: 0px;
                padding-bottom: 0px;
                display: flex;
                justify-content: space-between;
                gap: 32px;
            }
                .linkedinIconTablet, .GithubIconTablet, .EmailIconTablet {
                    // margin-right: 39px;
                    width: 16px;
                    height: 16px;
                    // padding-left: 5px;
                    // padding-right: 5px;
                }
                .EmailIconTablet {
                    margin-right: 5px;
                }
                .linkedinIconTablet:hover, .GithubIconTablet:hover, .EmailIconTablet:hover {
                    width: 18px;
                    height: 18px;
                }


        .topMenuOptionsContainer{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 23px 20px;
            margin-top:23px;
            margin-left: 30px;
        }
            .topMenuDivTablet{
                display: flex;
                align-items: center;
                flex-direction: row;
                margin-top: 0px;
                
                background: none;
                background-color: transparent;
            }
            .topMenuDivTablet.first{
                // margin-left: 30px;
            }
                .topMenuIconTablet {
                    color: variables.$textColorDarkGrey;
                    width:18px;
                    height:18px;
                    position: relative;
                    padding-bottom: 3px;
                    margin-right: 10px;
                }
                .menuOptionTablet {
                    margin-block-start: 0;
                    margin-block-end: 0;
                    margin-top: 0;
                    margin-bottom: 0;
                    margin-left: 0;
                    margin-right: 0;
                    color: variables.$textColorDarkGrey;
                    font-size: 10pt;
                    letter-spacing: 0.1em;
                    font-weight: 300;
                }
                .menuOptionTablet.active:hover{
                    font-weight: 500;
                    cursor: pointer;
                }
                .menuOptionTablet.inactive{
                    font-size: 10pt;
                    font-weight: 500;
                    cursor: default;
                }
        
        .copyContainer {
            margin-left: 10px;
            
        }

    }       

//End of Right Column