@use "variables.scss";

body {
    // background-color: variables.$backgroundColorNew;
    font-family: variables.$fontPoppins;
    

}

.wrapper.index {
    background-color: variables.$backgroundColorNew;
    display: flex;
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
    z-index: 1;
    
}

.tabDivAboutMe {
    background: variables.$backgroundColorNew;
    width: 204px;
    height: 48px;
    position: absolute;
    z-index: 2;
    top: -13px;
    left: 45px;
    border-radius: 10px 0 0 10px;
    background: #EBECF0;
    // background-image: variables.$background-image-tabDiv;
    box-shadow: -16px -10px 16px 0 #FAFBFF, -9px 6px 9px 0 #A6ABBD;
}

// @keyframes tabDiv {
//     0% {
//         box-shadow: none;
//         opacity: 0%;
//     }
//     100% {
//         box-shadow: -10px 3px 10px 0 rgba(14,31,53,0.06),
//                 -10px 3px 10px 0 rgba(14,31,53,0.12), 
//                 -10px 5px 14px -100px rgba(14,31,53,0.12), 
//                 -10px 5px 38px -20px rgba(14,31,53,0.06);
        
//         opacity: 100%;
//     }
// }


//Right Column
.rightColumnDiv.aboutMe{
    display: flex;
    flex-grow: 2;
    width: 70%;
    min-height: 630px;
    margin-left: 248px;
    padding-top: 30px;
    padding-bottom: 20px;

    border-radius: 20px;
    background-color: variables.$backgroundColorNew;
    // background-image: variables.$background-image-rightColumnDiv;
    box-shadow: -10px -10px 20px 0 #FAFBFF, 10px 10px 20px 0 #A6ABBD;
}
    .copyContainer {
        display: block;
        margin-left: 30px;
    }
        .h1Text {
            margin-top: 0px;
            font-family: variables.$fontPoppins;
            font-size: 31pt;
            font-weight: 400;
            background-image: linear-gradient(249deg, #37DBE0 60%, #1758F1 98%);
            background-size: 100%;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent; 
            -moz-text-fill-color: transparent;
        }
            
        .paragraph1 {
            margin-top: 0px;
            font-family: variables.$fontPoppins;
            font-size: 16pt;
            font-weight: 300;
            // animation: 1s all 1s paragraph1;
        }
            // @keyframes paragraph1 {
            //     0% {
            //         opacity: 0; 
            //         transform:translateY(-30px);
        
            //     }
            //     100% {
            //         opacity: 1; 
            //         transform:translateY(0px);
            //     }
            // }
        .paragraph2 {
            font-family: variables.$fontPoppins;
            font-size: 15pt;
            font-weight: 300;
            // animation: 1s 0s 1 paragraph2;
        }
            // @keyframes paragraph2 {
            //     0% {
            //         opacity: 0; 
            //         transform:translateY(-30px);
        
            //     }
            //     100% {
            //         opacity: 1; 
            //         transform:translateY(0px);
            //     }
            // }
        .paragraph3 {
            font-family: variables.$fontPoppins;
            font-size: 15pt;
            font-weight: 300;
            // animation: 1s 0s 1 paragraph3;
        }
        // @keyframes paragraph3 {
        //     0% {
        //         opacity: 0;
        //         transform: translateY(-30px);
        //     }
        //     100% {
        //         opacity: 1;
        //         transform: translateY(0px)
        //     }
        // }
    
    .imagesContainer {
        margin-top: 30px;
        margin-right: 20px;
    }
        .codeImageContainer {
                width: fit-content;
                height: 350px;
        }
            .codeImage {
                width: auto;
                height: 100%;
                opacity: 70%;
            }
        
            .tabletImageContainer {
                max-width: 370px;
                height: auto;
                margin-top: 30px;
                padding-left: 30px;
            }
                .tabletImage {
                    width: 100%;
                    height: auto;
                }
        
            .profilePhotoMainContentContainer {
                width: 120px;
                height: auto;
                position: absolute;
                right:170px;
                top:94px
            }
                .profilePhotoMainContent {
                    border-radius: 1000px;
                    width: 100%;
                    height: 100%;
                    box-shadow: 0 5px 10px -1px rgba(14,31,53,0.06), 0 10px 20px -2px rgba(14,31,53,0.10), 0 16px 32px -3px rgba(14,31,53,0.12), 0 32px 64px -4px rgba(14,31,53,0.14), 0 40px 72px -5px rgba(14,31,53,0.24);
                }


//Netbook/Tablet Resolutions
@media (max-width: 1230px){
    .tabletImageContainer {
        max-width: 370px;
        height: auto;
        margin-top: 60px;
        padding-left: 30px;
    }
}
@media (max-width: 1175px){
    .tabletImageContainer {
        max-width: 370px;
        height: auto;
        margin-top: 100px;
        padding-left: 30px;
    }
}
@media (max-width: 1169px){
    .tabletImageContainer {
        max-width: 370px;
        height: auto;
        margin-top: 150px;
        padding-left: 30px;
    }
}
@media (max-width: 1116px){
    .tabletImageContainer {
        max-width: 370px;
        height: auto;
        margin-top: 180px;
        padding-left: 30px;
    }
    .codeImageContainer {
        margin-top: 20px;
        width: fit-content;
        height: 320px;
    }
}
@media (max-width: 1059px){
    .profilePhotoMainContentContainer {
        width: 100px;
        height: auto;
        position: absolute;
        right:60px;
        top:50px
    }
    .copyContainer {
        margin-top: 50px;
        padding-left:20px;
        padding-right:20px;
    }
    .tabletImageContainer {
        display: none;
    }
    .codeImageContainer {
        display: none;
    }
}

// @media (max-width: 770px){
//     .profilePhotoMainContentContainer {
//         width: 80px;
//         height: auto;
//         position: absolute;
//         right:40px;
//         top:50px
//     }
// }


// New Menu Resolutions
@media (max-width: 855px){
    .rightColumnDiv.aboutMe{
        width: 100%;
        min-height: 630px;
        margin-left: 0px;
        // padding-top: 30px;
        // padding-bottom: 20px;
    }
    
}



//End of Right Column