@use "variables.scss";

body {
    background-color: variables.$backgroundColor;
    font-family: variables.$fontPoppins;
}

.wrapper {
    background-color: variables.$backgroundColor;
    display: flex;
}
    .leftColumnDiv {
        
    }
        .personalDetailsDiv {
            display: flex;
            align-items: flex-start;
        }
            .profilePicSmallContainer {

            }
                .profilePicSmall {
                    border-radius: 1000px;
                    width: 50px;
                    height: auto;
                }
            
            .fullNameProfessionDiv {
                display: block;
                margin-left: 10px;
            }
                .fullName {
                    margin-block-start: 5px;
                    margin-block-end: 0em;
                    letter-spacing: 1px;
                    color: variables.$textColorDarkGrey;
                    font-size: 12pt;
                }
                .profession {
                    margin-block-start: 0em;
                    margin-block-end: 0em;
                    letter-spacing: 1px;
                    color: variables.$textColorLightGrey;
                    font-size: 9.69pt;
                }


        .menuDiv {

        }


    .rightColumnDiv {

    }