@use "variables.scss";

//Left Column
.leftColumnContainer {
    display: block;
    position: fixed;
}

    .personalDetailsDiv {
        display: flex;
        align-items: flex-start;
    }
        .profilePicSmallContainer {
            width: 60px;
            height: auto;
        }
            .profilePicSmall {
                border-radius: 1000px;
                width: 100%;
                height: auto;
            }
        
        .fullNameProfessionDiv {
            margin-left: 10px;
            padding-top:3px;
        }
            .fullName {
                margin-block-start: 0.5em;
                margin-block-end: 0.4em;
                letter-spacing: 1px;
                color: variables.$textColorDarkGrey;
                font-size: 13pt;
                line-height: 12px;
            }
            .profession {
                margin-block-start: 0em;
                margin-block-end: 0em;
                letter-spacing: 1.1px;
                color: variables.$textColorLightGrey;
                font-size: 10pt;
                line-height: 16px;
            }


    .menuContainer {
        display: block;
        position: relative;
        z-index: 1;
        background: none;
        background-color: transparent;
        
    }
        .aboutMeDiv, .projectListDiv, .educationDiv, .ambitionDiv, .interestsDiv, .linksListDiv {
            display: flex;
            align-items: center;
            flex-direction: row;
            margin-top: 45px;
            margin-left: 70px;
            background: none;
            background-color: transparent;
            
        }
        .interestsDiv {
            margin-left: 66px;
            background-color: transparent;
        }   
            .aboutMeIcon, .projectListIcon, .educationIcon, .ambitionIcon, .interestsIcon, .linksListIcon {
                color: variables.$textColorDarkGrey;
                width:18px;
                height:18px;
                position: relative;
                padding-bottom: 3px;
                margin-right: 15px;
                z-index: 3;
            }
            .educationIcon {
                padding-bottom: 0px;
                width:20px;
                height:20px;
            }
            .ambitionIcon {
                width:20px;
                height:23px;
                padding-bottom: 10px;
            }
            .interestsIcon {
                width:20px;
                height:auto;
                margin-bottom: -1px;
                margin-left: 5px;
            }
            .linksListIcon {
                width:22px;
                height:22px;
                padding-bottom: 1px;
            }

            .menuOption {
                margin-block-start: 0;
                margin-block-end: 0;
                margin-top: 0;
                margin-bottom: 0;
                margin-left: 0;
                margin-right: 0;
                color: variables.$textColorDarkGrey;
                font-size: 12.5pt;
                letter-spacing: 0.1em;
                font-weight: 300;
                z-index: 3;
            }
            .menuOption.inactive{
                font-weight: 500;
                cursor: default;
            }
            .menuOption.active:hover{
                font-weight: 500;
                cursor: pointer;
            }



    .LinkedinGitHubEmailDiv {
        margin-top: 70px;
        margin-left: 71px;
        padding-bottom: 50px;
        display: flex;
        justify-content: stretch;
        gap: 32px;
    }
        .linkedinIcon, .GithubIcon, .EmailIcon {
            // margin-right: 39px;
            width: 16px;
            height: 16px;
            // padding-left: 5px;
            // padding-right: 5px;
        }
        .EmailIcon {
            margin-right: 0px;
        }
        .linkedinIcon:hover, .GithubIcon:hover, .EmailIcon:hover {
            width: 18px;
            height: 18px;
        }

        a {
            text-decoration: none;
        }


        