@use "variables.scss";

body {
    background-color: variables.$backgroundColorNew;
    font-family: variables.$fontPoppins;
}

.wrapper {
    background-color: variables.$backgroundColorNew;
    display: flex;
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
    z-index: 1;
}


.tabDivLinks {
    background: variables.$backgroundColorNew;
    width: 204px;
    height: 48px;
    position: absolute;
    z-index: 2;
    top: 345px;
    left: 45px;
    border-radius: 10px 0 0 10px;
    box-shadow: -10px 0px 35px 0 #FAFBFF, -15px 5px 20px 0 #A6ABBD;
}

// @keyframes tabDiv {
//     0% {
//         box-shadow: none;
//         opacity: 0%;
//     }
//     100% {
//         box-shadow: -10px 3px 10px 0 rgba(14,31,53,0.06),
//                 -10px 3px 10px 0 rgba(14,31,53,0.12), 
//                 -10px 5px 14px -100px rgba(14,31,53,0.12), 
//                 -10px 5px 38px -20px rgba(14,31,53,0.06);
        
//         opacity: 100%;
//     }
// }


//Right Column
.rightColumnDiv.links {
    display: block;
    flex-grow: 2;
    width: 70%;
    min-height: 660px;
    margin-left: 248px;
    padding-left: 10px;
    // padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 20px;
    box-shadow: -10px -10px 20px 0 #FAFBFF, 10px 10px 20px 0 #A6ABBD;
}
    .linksRectangle {
        width: auto;
        height: auto;
        margin-top: 30px;
        margin-left: 10px;
    }
        .linksH1Text {
            width: fit-content;
            height: auto;
            font-family: variables.$fontPoppins;
            font-size: 15pt;
            font-weight: 500;
            letter-spacing: 4px;
            
            padding-top: 0px;
            padding-bottom: 5px;
            margin-left: 25px;
            margin-block-start: 0em;
            margin-block-end: 0em;
            background-image: linear-gradient(239deg, #37DBE0 10%, #1758F1 73%);
            background-size: 100%;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent; 
            -moz-text-fill-color: transparent;
        }
    
    
    .linksButtonsContainer {
        margin-top: 35px;
        margin-left: 30px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px 50px;
    }
        
        .aLinkButton {
            cursor: pointer;
        }
        
        .aLinkButton.active:hover {
            background-image: linear-gradient(239deg, #37DBE0 10%, #1758F1 73%);
            background-size: 100%;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent; 
            -moz-text-fill-color: transparent;
        }
        .aLinkButton.inactive {
            cursor:default;
        }

        .buttonContainer {
            display: flex;
            flex-direction: column;
            align-items: center;   
        }
            .button{
                background-color: variables.$backgroundColorNew;
                border-radius: 10px 0 0 10px;
                box-shadow: -10px -10px 20px 0 #FAFBFF, 10px 10px 20px 0 #A6ABBD;
                border-radius: 20px;
                width: 90px;
                height: 81px;
                display: flex;
                justify-content: center;
                align-items: center;
                
            }
            
                .resumeLogo {
                    width: 33px;
                    height: auto;
                }
            
                .githubButtonLogo, .linkedinButtonLogo {
                    width: 40px;
                    height: auto;
                }
                .emailButtonLogo{
                    width: 40px;
                    height: auto;
                }

                .linkName {
                    font-family: variables.$fontPoppins;
                    color: #6D7587;
                    font-size: 13px;
                    letter-spacing: 2px;
                    margin-top: 12px;
                }
            
    // New Menu Resolutions
    @media (max-width: 855px){
        .rightColumnDiv.links{
            width: 100%;
            min-height: 630px;
            margin-left: 0px;
            // padding-top: 30px;
            // padding-bottom: 20px;
        }
        
    }

//End of Right Column