@use "variables.scss";

body {
    background-color: variables.$backgroundColorNew;
    font-family: variables.$fontPoppins;
}

.wrapper {
    background-color: variables.$backgroundColorNew;
    display: flex;
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
    z-index: 1;
}


.tabDivProjectList {
    background-color: variables.$backgroundColorNew;
    width: 209px;
    height: 48px;
    position: absolute;
    z-index: 2;
    top: 58px;
    left: 45px;
    border-radius: 10px 0 0 10px;
    box-shadow: -10px 0px 35px 0 #FAFBFF, -15px 5px 20px 0 #A6ABBD;
}


//Right Column
.rightColumnDiv.projectList {
    
    display: block;
    flex-grow: 2;
    width: 70%;
    margin-left: 248px;
    padding-bottom: 20px;
    padding-left: 30px;
    border-radius: 20px;
    box-shadow: -10px -10px 20px 0 #FAFBFF, 10px 10px 20px 0 #A6ABBD;
}
    .projectListHeader {
        width: auto;
        height: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 10px;
    }
        .projectListH1Text {
            width: fit-content;
            height: auto;
            font-family: variables.$fontPoppins;
            font-size: 15pt;
            font-weight: 500;
            letter-spacing: 4px;
            margin-left: 0px;
            background-image: linear-gradient(239deg, #37DBE0 10%, #1758F1 73%);
            background-size: 100%;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent; 
            -moz-text-fill-color: transparent;
        }
    
    // .projectContainer {
    //     display: flex;
    //     flex-wrap: wrap;
    // }
    // .projectContainer.twitter {
    //     display: flex;
    // }
    .twitterProject, .eventProject {
            
            max-width: fit-content;
            min-height: auto;
            background: #EBECF0;
            $background-image-rightColumnDiv: linear-gradient(-42deg,rgb(0, 0, 0, .02   ), rgb(255, 255, 255, 0.07));
            border: 2px solid #FFFFFF;
            box-shadow: 10px -10px 20px 0 #FAFBFF, 10px 10px 20px 0 #A6ABBD;
            border-radius: 30px;
            padding-bottom: 30px;
            padding-left: 30px;
            padding-right: 30px;
            
        }
        .twitterProjectContents {
            display:flex;
            align-items: flex-end;
        }

            .paragrapsContainer {
                margin-top: 0px;
                max-width: 500px;
            }
                .h2ProjectTypeTwitter, .h2ProjectTypeEvent {
                    font-family: variables.$fontPoppins;
                    font-size: 12pt;
                    font-weight: 500;
                    // color: #6D7587;
                    // color: variables.$textColorDarkGrey2;
                    letter-spacing: 2px;
                    // margin-block-start: 0em;
                    margin-top: 20px;
                    margin-block-end: 0em;
                    background-image: linear-gradient(239deg, #37DBE0 80%, #1758F1 98%);
                    background-size: 100%;
                    -webkit-background-clip: text;
                    -moz-background-clip: text;
                    -webkit-text-fill-color: transparent; 
                    -moz-text-fill-color: transparent;
                }
                
                .h2projectHeaderTwitter, .h2projectHeaderEvent {
                    font-family: variables.$fontPoppins;
                    font-size: 11pt;
                    color: rgb(51, 50, 50);
                    font-weight: 500;
                    letter-spacing: 0;
                    margin-top: 15px;
                    margin-bottom: 5px;
                }
                
                
                .paragraphTwitterProject, .paragraphEventProject {
                    font-family: variables.$fontPoppins;
                    font-size: 10pt;
                    color: rgb(51, 50, 50);
                    font-weight: 400;
                    letter-spacing: 0.62px;
                    font-style: italic;
                    z-index: 50;
                    position: relative; //Added this so that the z-index works (otherwise, it wasn't wokring)
                    margin-block-start: 0em;
                    margin-block-end: 0em;
                    // max-width: 500px;
                }
                .paragraphTwitterProject {
                    margin-bottom: 10px;
                }
                
                .twitterHassanImageDiv {
                    width:300px;
                    height: auto;
                    border-radius: 20px;
                }
                    .twitterHassanImageDiv img {
                        width:100%;
                        height: auto;
                        border-radius: 20px;
                        box-shadow: 0 20px 44px -6px rgba(14,31,53,0.36);
                    }

                .twitterProjectToolsContainer {
                    margin-top: max(24px);
                    margin-bottom: 0px;
                }
                    .twitterProjectToolsHeader, .twitterProjectLinksHeader, .eventProjectToolsHeader {
                        font-family: variables.$fontPoppins;
                        font-size: 11pt;
                        color: rgb(51, 50, 50);
                        font-weight: 500;
                        letter-spacing: 0;
                        margin-block-start: 0em;
                        margin-block-end: 0em;
                    }
                    .twitterProjectToolsDiv, .eventProjectToolsDiv {
                        display: flex;
                        justify-content: flex-start;
                        flex-wrap: wrap;
                        margin-right: 20px;
                        max-width: auto;
                    }
                        .toolName {
                            font-weight: 500;
                            font-size: 12pt;
                            background-image: linear-gradient(239deg, #37DBE0 10%, #1758F1 73%);
                            background-size: 100%;
                            -webkit-background-clip: text;
                            -moz-background-clip: text;
                            -webkit-text-fill-color: transparent; 
                            -moz-text-fill-color: transparent;
                            max-width: 100%;
                            margin-block-start: 0em;
                            margin-right: 20px;
                        }
                        .toolName.css {
                            margin-right: 0px;
                        }


                .linksContainer{
                    margin-top: 30px;
                }
                    .linkName.left {
                        letter-spacing: 0px;
                        margin-right: 30px;
                    }
                    .linkName.right {
                        letter-spacing: 0px;
                        font-size: 10pt;
                    }
                    .linkName:hover {
                        background-image: linear-gradient(239deg, #37DBE0 10%, #1758F1 73%);
                        background-size: 100%;
                        -webkit-background-clip: text;
                        -moz-background-clip: text;
                        -webkit-text-fill-color: transparent; 
                        -moz-text-fill-color: transparent;   
                    }
                

            .rightImagesContainer {
                margin-left: 50px;
                // margin-right: 20px;
                margin-top: 20px;
                position: relative;
            }
                .desktopImageContainer {
                    width:450px;
                    height: auto;
                }
                    .desktopImageContainer img {
                        width: 100%;
                        height: auto;
                        border-radius: 20px;
                        box-shadow: 0 40px 64px -6px rgba(14,31,53,0.36);
                    }
                .mobileImageContainer {
                    width:128px;
                    height: auto;
                    position: absolute;
                    bottom: 269px;
                    left: -50px;

                }
                    .mobileImageContainer img {
                        width: 100%;
                        height: auto;
                        position: absolute;
                        // box-shadow: 0 40px 64px -6px rgba(14,31,53,0.36);
                        
                    }


        // .eventProject {

        // }
        //     .eventProjectImageDiv {
        //         display: block;
        //         max-width: 270px;
        //         height: auto;
        //         margin-left: auto;
        //         margin-right: auto;
        //     }
        //         .eventImage {
        //             width: 100%;
        //             height: auto;
        //         }
        //     .eventProjectParagrapDiv {
        //         position: relative;
        //         text-align: center;
        //         margin: auto;
        //         margin-top: 0px;
        //     }
        //         .paragraphEventProject.one {
        //             padding-left: 7px;
        //             padding-right: 7px;
        //         }
        //     .eventProjectToolsContainer {
        //         margin-top: 10px;
        //         margin-bottom: max(10px);
        //     }

//End of Right Column