@use "variables.scss";

body {
    background-color: variables.$backgroundColor;
    font-family: variables.$fontPoppins;
}

.wrapper {
    background-color: variables.$backgroundColor;
    display: flex;
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
    z-index: 1;
}


//Right Column
.rightColumnDiv {
    display: flex;
    flex-grow: 2;
    width: 70%;
    margin-left: 10px;
    padding-top: 50px;
    padding-bottom: 20px;
    border: 3px solid #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 5px 10px 0 rgba(14,31,53,0.06), 
                0 10px 20px 0 rgba(14,31,53,0.12), 
                0 16px 24px -1px rgba(14,31,53,0.12), 
                0 20px 38px -2px rgba(14,31,53,0.06);
}
    .copyContainer {
        display: block;
        margin-left: 30px;
    }
        .h1Text {
            margin-top: 0px;
            font-family: variables.$fontPoppins;
            font-size: 31pt;
            font-weight: 400;
            // animation: 1s all 0s h1Text;
        }
            // @keyframes h1Text {
            //     0% {
            //         opacity: 0; 
            //         transform:translateY(-30px);
        
            //     }
            //     100% {
            //         opacity: 1; 
            //         transform:translateY(0px);
            //     }
            // }
        .paragraph1 {
            margin-top: 0px;
            font-family: variables.$fontPoppins;
            font-size: 18pt;
            font-weight: 300;
            // animation: 1s all 1s paragraph1;
        }
            // @keyframes paragraph1 {
            //     0% {
            //         opacity: 0; 
            //         transform:translateY(-30px);
        
            //     }
            //     100% {
            //         opacity: 1; 
            //         transform:translateY(0px);
            //     }
            // }
        .paragraph2 {
            font-family: variables.$fontPoppins;
            font-size: 16pt;
            font-weight: 300;
            // animation: 1s 0s 1 paragraph2;
        }
            // @keyframes paragraph2 {
            //     0% {
            //         opacity: 0; 
            //         transform:translateY(-30px);
        
            //     }
            //     100% {
            //         opacity: 1; 
            //         transform:translateY(0px);
            //     }
            // }
        .paragraph3 {
            font-family: variables.$fontPoppins;
            font-size: 16pt;
            font-weight: 300;
            // animation: 1s 0s 1 paragraph3;
        }
        // @keyframes paragraph3 {
        //     0% {
        //         opacity: 0;
        //         transform: translateY(-30px);
        //     }
        //     100% {
        //         opacity: 1;
        //         transform: translateY(0px)
        //     }
        // }
    
    .imagesContainer {
        margin-right: 20px;
    }
        .codeImageContainer {
                width: auto;
                height: 350px;
        }
            .codeImage {
                width: auto;
                height: 100%;
                opacity: 50%;
            }
        
            .tabletImageContainer {
                width: 400px;
                height: auto;
                margin-top: 30px;
                padding-left: 30px;
            }
            .tabletImage {
                width: 100%;
                height: auto;
            }
        
            .profilePhotoMainContentContainer {
                width: 120px;
                height: auto;
                position: absolute;
                right:170px;
                top:94px
            }
                .profilePhotoMainContent {
                    border-radius: 1000px;
                    width: 100%;
                    height: 100%;
                    box-shadow: 0 5px 10px -1px rgba(14,31,53,0.06), 0 10px 20px -2px rgba(14,31,53,0.10), 0 16px 32px -3px rgba(14,31,53,0.12), 0 32px 64px -4px rgba(14,31,53,0.14), 0 40px 72px -5px rgba(14,31,53,0.24);
                }

//End of Right Column